:root {
    --orange: #DAAD86;
    --white: #ffffff;
    --purple: #659DBD;
    --blue: #1098F7;
    --pink: #BD4089;

    --card-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}

* {
    box-sizing: border-box;
    /* it allows padding without width */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--purple);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

button {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
}

/*navbar*/
.navbar .flex {
    justify-content: space-between;
}

.navbar .container {
    max-width: 100%;
}

.navbar {
    background-color: var(--purple);
    color: #fff;
    height: 70px;
    z-index: 100;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}



button:hover {
    border-color: transparent;
    border-bottom: 1px solid var(--white);
}

input {
    width: 20vw;
    padding: 0.5rem;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

section p {
    margin: 20px 0px;
    color: black;
}

section h1 {
    font-size: 40px;
}

/*first section*/

.first-section {
    position: relative;
    color: var(--black);
    background-color: var(--orange);
    transform: skewY(-3deg);
    z-index: -1;
    height: 100%;
}

.first-section .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

/*mission*/

.box-section {
    margin: 50px auto;
}

.box-section .flex {
    background-color: rgba(2, 2, 9, 0.3);
    justify-content: space-around;
}

/*ticket-section*/
.ticket-section {
    margin: 4rem;
}

.ticket-section h1,
.ticket-section h4,
.ticket-section ul {
    margin-top: 1rem;
    color: var(--white);
}


.ticket-section .flex {
    justify-content: space-between;
}

.ticket-section .container {
    min-height: 70vh;
}

.card {
    background-color: var(--orange);
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card button {
    padding: 0.6rem 0.9rem;
}

.card p {
    display: inline-block;
    margin-right: 5rem;
}

.quotes {
    background-color: rgba(2, 2, 9, 0.3);
    max-width: 1100px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 24rem;
}

/* slider */




.quotes .flex {
    flex-direction: column;
    padding: 20px;
    background-color: var(--purple);
}

.quotes div {
    color: rgb(125, 79, 6);
}

.quotes h5 {
    color: var(--white);
}

.fav-poke {
    text-align: center;
    display: block;
    max-width: 100%;
}

.fav-poke h1 {
    font-size: 48px;
    margin-bottom: 8rem;
}

.slider {
    min-width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.card-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-info {
    transition: all 1s ease-in-out;
}

.pokemon-info .card {
    width: 100%;
    padding: 100px;
}

Footer {
    padding: 30px;
    background-color: #DCD7C9;
    color: black;
    margin-top: 20px;
}

Footer .flex {
    justify-content: space-between;
}

ul {
    gap: 20px;
}