:root {
    --orange: #DAAD86;
    --white: #ffffff;
    --purple: #86B3DA;
    --blue: #1098F7;
    --pink: #BD4089;

    --card-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}

* {
    box-sizing: border-box;
    /* it allows padding without width */
    margin: 0;
    padding: 0;
}

.transition-fade {
    transition: 1s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

body {
    font-family: 'lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--purple);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}



button {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/*navbar*/

.navbar .flex {
    justify-content: space-between;
}

.navbar .container {
    max-width: 100%;
}

.navbar {
    position: relative;
    background-color: var(--purple);
    color: #fff;
    height: 70px;
    z-index: 100;
    cursor: pointer;
}

.navbar ul {
    display: flex;

}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}



button:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid transparent;
}

input {
    width: 20vw;
    padding: 0.5rem;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

section {
    display: block;
}

section p {
    margin: 20px 0px;
    color: black;
}

section h1 {
    font-size: 40px;
}

/*first section*/
.first-section {
    position: relative;
    color: var(--black);
    background-color: var(--orange);
    transform: skewY(-3deg);
    height: 100%;
}

.first-section div {
    z-index: 100;
}

.first-section .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.first-section button {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    color: black;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.first-section button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}



/*mission*/

.box-section {
    margin: 50px auto;
}

.box-section .flex {
    text-align: right;
    justify-content: space-between;

}

.mission {
    gap: 40px;
}


/*ticket-section*/
.ticket-section {
    margin: 2rem;
}

.ticket-section h1,
.ticket-section h4,
.ticket-section ul {
    margin-top: 1rem;
    color: var(--white);
}


.ticket-section .flex {
    justify-content: space-between;
}

.ticket-section .container {
    min-height: 70vh;
}

.card {
    background-color: var(--orange);
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card button {
    padding: 0.6rem 0.9rem;
}

.card p {
    display: inline-block;
    margin-right: 5rem;
}

.quotes {
    background-color: rgba(2, 2, 9, 0.3);
    max-width: 1100px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 8rem;
}




.quotes .flex {
    flex-direction: column;
    padding: 20px;
    background-color: var(--purple);
}

.quotes div {
    color: rgb(125, 79, 6);
}

.quotes h5 {
    color: var(--white);
}

/*slider*/

.fav-poke {
    text-align: center;
    display: block;
    max-width: 100%;
}

.fav-poke h1 {
    font-size: 48px;
}

.slider {
    min-width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}



.card-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-info {
    transition: all 1s ease-in-out;
}

.pokemon-info .card {
    width: 100%;
    padding: 60px;
    cursor: pointer;
}

.pokemon-info .card:hover {
    padding: 50px;
}

.card img {
    width: 100%;
    object-fit: cover;
}


.pokemon-info .card span {
    text-align: center;
    margin: 4rem;
    color: #ffffff;
}

.EventModel {
    position: fixed;
    text-align: center;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.EventModel::before {
    content: '';
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}

.EventModel .model-box {
    background-color: white;
    width: 70%;
    padding: 100px;
    margin: 0 auto;
    border-radius: 15px;
}





Footer {
    padding: 30px;
    background-color: #DCD7C9;
    color: black;
    margin-top: 20px;
}

Footer .flex {
    justify-content: space-between;
}

Footer ul {
    gap: 20px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 900px) {

    /* navbar */
    .navbar .flex {
        flex-direction: column;
    }

    .navbar .container {
        padding: 0px;
    }

    .navbar .main {
        justify-content: center;
        flex-direction: row;
        gap: 60vw;
    }

    .navbar .visible {
        display: block;
    }



    .navbar ul {
        position: absolute;
        top: -400px;
        left: 0;
        padding: 50px;
        width: 100%;
        backdrop-filter: blur(10px);
        flex-direction: column;
        z-index: 2;
        gap: 20px;
        transition: all 0.8s ease-in-out;
    }


    .navbar Button {
        display: none;
    }



    .navbar a {
        color: #fff;
        padding: 10px;
        margin: 0 5px;
    }

    /*first-section*/

    .first-section {
        transform: skewY(0deg);
    }

    .first-section .grid {
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .first-section h1 {
        font-size: 24px;
    }

    .first-section p {
        font-size: 16px;
        font-weight: 100;
        padding: 0px 50px;
    }

    /*mission*/

    .box-section {
        margin: 50px;
    }

    .box-section .flex {
        flex-direction: column;
        text-align: center;
    }

    .box-section h1 {
        font-size: 32px;
    }

    .box-section p {
        font-size: 16px;
    }

    .ticket-section {
        margin: 2rem;
    }



    .ticket-section .container {
        grid-template-columns: 1fr;
    }

    input {
        width: 40vw;
    }

    .EventModel .model-box {
        width: 70%;
        padding: 50px;
        margin: 0 auto;
    }

    .EventModel h1 {
        font-size: 24px;
    }

    .card-list .grid-3 {
        grid-template-columns: 1fr;
    }

    .fav-poke h1 {
        font-size: 32px;
        margin-bottom: 0px;
    }

    /*footer*/
    Footer .flex {
        text-align: center;
        flex-direction: column;
        justify-content: left;
    }
}